In [1]:
import pandas as pd 
import numpy as np

In [2]:
dfa = pd.read_csv('RideAustin/Rides_DataA.csv')
dfb = pd.read_csv('RideAustin/Rides_DataB.csv')

/Users/dcolton/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [132]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.reverse("30.283, -97.747")
print(location.address)
print((location.latitude, location.longitude))

1811, Pearl Street, Austin, Travis County, Texas, 78701, United States of America
(30.282923, -97.7470929714286)

In [118]:
df = pd.merge(dfa, dfb, on='RIDE_ID', how='outer')

In [124]:
df = df.drop(['driver_id','car_id','color','make','model','year','car_categories_bitmask'], axis=1)

In [123]:
df.rate_per_mile.value_counts()

0.99    1332840
1.50      86681
2.60      54784
2.75      13967
3.75       4340
0.00       1513
Name: rate_per_mile, dtype: int64

In [153]:
latbins =  np.arange(30.120646,30.519264,0.02)
df['slat'] = np.digitize(df['start_location_lat'],latbins)
longbins =  np.arange(-97.96,-97.56,0.02)
df['slong'] = np.digitize(df['start_location_long'],longbins)
df['elat'] = np.digitize(df['end_location_lat'],latbins)
df['elong'] = np.digitize(df['end_location_long'],longbins)
gridbins =  np.arange(0,400,1)
df['stringstart'] = df['slat'].astype(str) + df['slong'].astype(str)
df['stringend'] = df['elat'].astype(str) + df['elong'].astype(str)
df['equals'] = df['stringstart'] == df['stringend']

In [154]:
df['equals'].value_counts()

False    1370723
True      123402
Name: equals, dtype: int64

In [ ]:
df['equals']

In [ ]:
df

In [145]:
gridbins =  np.arange(0,400,1)
print len(gridbins)

400

In [143]:
df[]

,RIDE_ID,started_on,created_date,updated_date,completed_on,distance_travelled,end_location_lat,end_location_long,driver_rating,rider_rating,...,dispatch_location_lat,dispatch_location_long,driving_distance_to_rider,dispatched_on,status,rating,slat,slong,elat,elong
0,0,2016-06-04 00:18:49-05:00,2016-06-04 00:10:19-05:00,2016-06-04 00:27:48-05:00,2016-06-04 00:27:32-05:00,8459.0,38.676,-121.039,5.0,5.0,...,-121.039,-121.039,NaN,2016-06-04 05:10:19,b'DISPATCHED',5.0,20,0,20,0
1,1,2016-06-04 01:50:12-05:00,2016-06-04 01:47:39-05:00,2016-06-04 01:52:00-05:00,2016-06-04 01:51:49-05:00,443.0,38.676,-121.039,5.0,5.0,...,-121.039,-121.039,NaN,2016-06-04 06:47:39,b'DISPATCHED',5.0,20,0,20,0
2,2,2016-06-04 03:16:02-05:00,2016-06-04 03:13:07-05:00,2016-06-04 03:18:07-05:00,2016-06-04 03:17:57-05:00,568.0,38.676,-121.039,3.0,5.0,...,-121.039,-121.039,NaN,2016-06-04 08:13:07,b'DISPATCHED',5.0,20,0,20,0
3,3,2016-06-04 10:05:13-05:00,2016-06-04 09:52:35-05:00,2016-06-04 10:14:00-05:00,2016-06-04 10:13:38-05:00,4051.0,30.271,-97.742,5.0,5.0,...,-97.742,-97.742,NaN,2016-06-04 14:52:35,b'DISPATCHED',5.0,7,10,8,11
4,4,2016-06-04 10:24:25-05:00,2016-06-04 10:23:25-05:00,2016-06-04 10:26:16-05:00,2016-06-04 10:26:07-05:00,790.0,30.269,-97.752,5.0,5.0,...,-97.752,-97.752,NaN,2016-06-04 15:23:25,b'DISPATCHED',5.0,8,11,8,11

In [ ]:
30.519264, -97.950095 and 30.120646, -97.572791

In [133]:
(30.519264-30.120646)/20

0.019930899999999953

In [135]:
(-97.96 - -97.56)/20

-0.019999999999999574

In [112]:
dfall[(dfall['driver_rating']<4.9) & (dfall['rider_rating']<4.9)].info()
dfall[(dfall['rider_rating']<4.9)].info()
dfall[(dfall['driver_rating']<4.9)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14008 entries, 253 to 1494007
Data columns (total 59 columns):
RIDE_ID                           14008 non-null int64
started_on                        14008 non-null object
created_date                      14008 non-null object
updated_date                      14008 non-null object
completed_on                      14008 non-null object
distance_travelled                14008 non-null float64
end_location_lat                  14008 non-null float64
end_location_long                 14008 non-null float64
driver_rating                     14008 non-null float64
rider_rating                      14008 non-null float64
active_driver_id                  14008 non-null int64
charity_id                        2862 non-null float64
requested_car_category            14008 non-null object
free_credit_used                  1947 non-null float64
surge_factor                      14008 non-null float64
start_location_long               14008 non-null float64
start_location_lat                14008 non-null float64
rider_id                          14008 non-null int64
round_up_amount                   13997 non-null float64
promocode_redemption_id           425 non-null float64
driver_reached_on                 13994 non-null object
base_fare                         14008 non-null float64
total_fare                        14008 non-null float64
rate_per_mile                     14008 non-null float64
rate_per_minute                   14008 non-null float64
time_fare                         14008 non-null float64
driver_accepted_on                14008 non-null object
esimtated_time_arrive             13522 non-null object
tipped_on                         2100 non-null object
tip                               2100 non-null float64
driving_time_to_rider             13910 non-null float64
dispatch_location_lat             14008 non-null float64
dispatch_location_long            14008 non-null float64
driving_distance_to_rider         11786 non-null float64
dispatched_on                     14008 non-null object
status                            14008 non-null object
driver_id                         14008 non-null int64
car_id                            14008 non-null int64
color                             14008 non-null object
make                              14008 non-null object
model                             14008 non-null object
year                              14008 non-null object
car_categories_bitmask            14008 non-null int64
rating                            14008 non-null float64
HOURLYVISIBILITY                  13922 non-null float64
HOURLYDRYBULBTEMPC                13984 non-null float64
HOURLYRelativeHumidity            13836 non-null float64
HOURLYWindSpeed                   13895 non-null float64
HOURLYWindDirection               10631 non-null float64
HOURLYPrecip                      13313 non-null float64
DAILYMaximumDryBulbTemp           670 non-null float64
DAILYMinimumDryBulbTemp           670 non-null float64
DAILYDeptFromNormalAverageTemp    670 non-null float64
DAILYAverageRelativeHumidity      247 non-null float64
DAILYSunrise                      14002 non-null float64
DAILYSunset                       14002 non-null float64
DAILYPrecip                       843 non-null float64
DAILYAverageWindSpeed             659 non-null float64
DAILYPeakWindSpeed                659 non-null float64
dtypes: float64(38), int64(6), object(15)
memory usage: 6.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 81026 entries, 29 to 1494111
Data columns (total 59 columns):
RIDE_ID                           81026 non-null int64
started_on                        81026 non-null object
created_date                      81026 non-null object
updated_date                      81026 non-null object
completed_on                      81026 non-null object
distance_travelled                81026 non-null float64
end_location_lat                  81026 non-null float64
end_location_long                 81026 non-null float64
driver_rating                     73361 non-null float64
rider_rating                      81026 non-null float64
active_driver_id                  81026 non-null int64
charity_id                        18856 non-null float64
requested_car_category            81026 non-null object
free_credit_used                  10203 non-null float64
surge_factor                      81026 non-null float64
start_location_long               81026 non-null float64
start_location_lat                81026 non-null float64
rider_id                          81026 non-null int64
round_up_amount                   80982 non-null float64
promocode_redemption_id           2431 non-null float64
driver_reached_on                 80954 non-null object
base_fare                         81026 non-null float64
total_fare                        81026 non-null float64
rate_per_mile                     81026 non-null float64
rate_per_minute                   81026 non-null float64
time_fare                         81026 non-null float64
driver_accepted_on                81025 non-null object
esimtated_time_arrive             78428 non-null object
tipped_on                         19066 non-null object
tip                               19066 non-null float64
driving_time_to_rider             80340 non-null float64
dispatch_location_lat             81026 non-null float64
dispatch_location_long            81026 non-null float64
driving_distance_to_rider         69990 non-null float64
dispatched_on                     81026 non-null object
status                            81026 non-null object
driver_id                         81026 non-null int64
car_id                            81026 non-null int64
color                             81026 non-null object
make                              81026 non-null object
model                             81026 non-null object
year                              81026 non-null object
car_categories_bitmask            81026 non-null int64
rating                            81026 non-null float64
HOURLYVISIBILITY                  80432 non-null float64
HOURLYDRYBULBTEMPC                80866 non-null float64
HOURLYRelativeHumidity            79910 non-null float64
HOURLYWindSpeed                   80306 non-null float64
HOURLYWindDirection               61195 non-null float64
HOURLYPrecip                      76853 non-null float64
DAILYMaximumDryBulbTemp           4014 non-null float64
DAILYMinimumDryBulbTemp           4014 non-null float64
DAILYDeptFromNormalAverageTemp    4014 non-null float64
DAILYAverageRelativeHumidity      1387 non-null float64
DAILYSunrise                      80959 non-null float64
DAILYSunset                       80959 non-null float64
DAILYPrecip                       5088 non-null float64
DAILYAverageWindSpeed             3933 non-null float64
DAILYPeakWindSpeed                3932 non-null float64
dtypes: float64(38), int64(6), object(15)
memory usage: 37.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 132476 entries, 2 to 1494101
Data columns (total 59 columns):
RIDE_ID                           132476 non-null int64
started_on                        132476 non-null object
created_date                      132476 non-null object
updated_date                      132476 non-null object
completed_on                      132476 non-null object
distance_travelled                132476 non-null float64
end_location_lat                  132476 non-null float64
end_location_long                 132476 non-null float64
driver_rating                     132476 non-null float64
rider_rating                      129536 non-null float64
active_driver_id                  132476 non-null int64
charity_id                        27335 non-null float64
requested_car_category            132476 non-null object
free_credit_used                  20364 non-null float64
surge_factor                      132476 non-null float64
start_location_long               132476 non-null float64
start_location_lat                132476 non-null float64
rider_id                          132476 non-null int64
round_up_amount                   132398 non-null float64
promocode_redemption_id           3509 non-null float64
driver_reached_on                 132335 non-null object
base_fare                         132476 non-null float64
total_fare                        132476 non-null float64
rate_per_mile                     132476 non-null float64
rate_per_minute                   132476 non-null float64
time_fare                         132476 non-null float64
driver_accepted_on                132461 non-null object
esimtated_time_arrive             126166 non-null object
tipped_on                         24569 non-null object
tip                               24569 non-null float64
driving_time_to_rider             131148 non-null float64
dispatch_location_lat             132476 non-null float64
dispatch_location_long            132476 non-null float64
driving_distance_to_rider         105409 non-null float64
dispatched_on                     132476 non-null object
status                            132476 non-null object
driver_id                         132476 non-null int64
car_id                            132476 non-null int64
color                             132476 non-null object
make                              132476 non-null object
model                             132476 non-null object
year                              132476 non-null object
car_categories_bitmask            132476 non-null int64
rating                            132476 non-null float64
HOURLYVISIBILITY                  131693 non-null float64
HOURLYDRYBULBTEMPC                132241 non-null float64
HOURLYRelativeHumidity            130883 non-null float64
HOURLYWindSpeed                   131402 non-null float64
HOURLYWindDirection               101504 non-null float64
HOURLYPrecip                      126077 non-null float64
DAILYMaximumDryBulbTemp           7338 non-null float64
DAILYMinimumDryBulbTemp           7338 non-null float64
DAILYDeptFromNormalAverageTemp    7338 non-null float64
DAILYAverageRelativeHumidity      3157 non-null float64
DAILYSunrise                      132393 non-null float64
DAILYSunset                       132393 non-null float64
DAILYPrecip                       8607 non-null float64
DAILYAverageWindSpeed             7211 non-null float64
DAILYPeakWindSpeed                7239 non-null float64
dtypes: float64(38), int64(6), object(15)
memory usage: 60.6+ MB

In [26]:
dftip = dfb[dfb['tip'].notnull()]

In [31]:
dftip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 430895 entries, 72220 to 1494123
Data columns (total 24 columns):
RIDE_ID                      430895 non-null int64
base_fare                    430895 non-null float64
total_fare                   430895 non-null float64
rate_per_mile                430895 non-null float64
rate_per_minute              430895 non-null float64
time_fare                    430895 non-null float64
driver_accepted_on           430895 non-null object
esimtated_time_arrive        429297 non-null object
tipped_on                    430895 non-null object
tip                          430895 non-null float64
driving_time_to_rider        428961 non-null float64
dispatch_location_lat        430895 non-null float64
dispatch_location_long       430895 non-null float64
driving_distance_to_rider    380670 non-null float64
dispatched_on                430895 non-null object
status                       430895 non-null object
driver_id                    430895 non-null int64
car_id                       430895 non-null int64
color                        430895 non-null object
make                         430895 non-null object
model                        430895 non-null object
year                         430895 non-null object
car_categories_bitmask       430895 non-null int64
rating                       430895 non-null float64
dtypes: float64(11), int64(4), object(9)
memory usage: 82.2+ MB

In [45]:
dftip3 = dftip[dftip['rating']<4]